.section-specialty {
    height: 330px;
    background:#f5f5f5;
    border: 1px solid green;
}

// reset slick slider css
.slick-prev {
    border: 1px solid red !important;
    position: relative !important;
    left: 0 !important;
}
.slick-next {
    border: 1px solid red !important;
    right: 0 !important;
}